<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning English with Harry Potter</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body class="top-page">
    <header>
    <nav>
        <ul>
        <a class="history-link" href="{{ url_for('history') }}">
        📖 保存した呪文の履歴を見る
        </a>
        </ul>
    </nav>
    </header>
    <main class="top-container">
        <section class="welcome-card">
            <p class="subtitle">Harry Potter × English</p>
            <h1>ハリーポッターシリーズの呪文で学ぶ英語</h1>
            <p class="description"> 呪文をひとつ選んで、魔法と一緒に英単語を学ぼう。 </p>
            <form class="spell-form" action="{{ url_for('work1_kekka') }}" method="post">
                <label for="username">あなたの名前</label>
                <input type="text" name="username" id="username">
                <button type="submit">呪文を出す</button>
            </form>           
        </section>
    </main>
</body>
</html>